.desc-layout-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 5rem;

  align-items: center;

  font-size: 1.2rem;
  width: 25%;
  height: min-content;
  animation: slide-in 0.5s ease-in;
}

.desc-form {
  display: flex;
  flex-direction: column;

  row-gap: 1.5rem;
}

.desc-form div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

@media (max-width: 50em) {
  .desc-layout-1 {
    width: 100%;
    padding: 5rem 15rem 5rem 15rem;
  }

  .desc-form {
    row-gap: 3rem;
  }
}
@media (max-width: 43.75em) {
  .desc-layout-1 {
    width: 100%;
    padding: 5rem 7rem 5rem 7rem;
  }

  .desc-form {
    row-gap: 3rem;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  60% {
    opacity: 0;
    transform: translateX(10%);
  }
  80% {
    opacity: 0.5;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
