.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 3.4rem;
  row-gap: 3.4rem;
  font-size: 1.5rem;
  align-items: center;
}

.grid li {
  list-style: none;
}
