.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amount-actions {
  display: flex;
  justify-content: flex-end;
}

.total-amount-actions button {
  margin-left: 0.5rem;
}

.must-login {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
}

@media (max-width: 32.9375em) {
  .total-amount {
    flex-direction: column;
  }
}
