.total-amount {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.total-amount-btn {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.total-amount-btn button {
  margin-left: 0.5rem;
}
