.profile__container {
  display: flex;
  column-gap: 5rem;
  width: 100%;
  margin-bottom: 5rem;
}

.profile__contents--container {
  display: flex;

  width: 100%;
  column-gap: 5rem;
}

.profile__contents--card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: max-content;
  padding: 2rem;
  column-gap: 2rem;
  max-width: 30%;
}

.profile__contents--img {
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__contents__form-container {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}

.contents__form-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  justify-content: center;
}

.contents__form-container--content-container {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
}
.contents__form-container--content-container p {
  display: flex;
  justify-content: space-between;
}

.contents__form-container--underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 14rem;
}

.container {
  grid-template-columns: 1fr;
}

@media (max-width: 90em) {
  .profile__contents--container {
    flex-direction: column-reverse;
    row-gap: 5rem;
    justify-content: start;
  }

  .profile__contents--card {
    max-width: 100%;
  }
  .contents__form-container--content-container {
    min-width: 55rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
  }
  .contents__form-container--content-container p {
    column-gap: 10rem;
    justify-content: center;
    align-items: center;
  }

  .label {
    min-width: 9rem;
  }
}

@media (max-width: 43.75em) {
  .profile__container {
    flex-direction: column;
    row-gap: 5rem;
  }

  .contents__form-container--content-container {
    min-width: 20rem;
  }

  .contents__form-container--content-container p {
    width: 100%;
    justify-content: space-between;
  }

  .contents__form-container--content-container p {
    column-gap: 5rem;
  }
}
