.content-layout {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  row-gap: 0.5rem;
  font-size: 1.2rem;
}
.mainCard {
  display: flex;
  flex-direction: column;
  width: 80%;
  row-gap: 2rem;
}

.content__container {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 2rem;

  row-gap: 5rem;
}

.password__container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-between;
}

.close-account__container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-between;
}

.flexRow {
  display: flex;
}

.width {
  width: 10rem;
}

.padding {
  padding: 1.5rem;
}

.input {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.close-your-account {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.password__container--input {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1.5rem;
}

.input-custom__container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.input-custom__container label {
  width: 29.5%;
  font-size: 1.2rem;
}

.input-custom__input {
  width: 100%;
  padding: 0.5rem;
}

.button-submit__container {
  max-width: 15rem;
}

@media (max-width: 32.9375em) {
  .input-custom__container label {
    width: 100%;
  }

  .button-submit__container {
    max-width: 100%;
    margin-left: 0;
  }
}
