.profile-layout {
  display: flex;
  column-gap: 5rem;
  width: 100%;
  min-height: 100vh;
}

.content-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 2rem;
}

.content-layout-1 {
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  height: max-content;
  padding: 2rem;
  column-gap: 2rem;
}

.content-layout-1 img {
  width: 10rem;
  border-radius: 1rem;
  object-fit: cover;
}

.content-layout-2 {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}

.content-layout-3 {
  display: flex;
  column-gap: 5rem;
  padding: 2rem;
}

.content-layout-4 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
