.content-layout-1 {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  width: 30%;
  padding: 4rem;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.17);
  row-gap: 5rem;
  margin: 0 auto;
  max-height: 60vh;
}

.content-layout-1 input {
  padding: 0.5rem;
}

.content-layout-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 2rem;
}

.content-layout-form div {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
}

.form-input__label {
  width: 15rem;
}

.content-layout-signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
  margin-top: 5rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.input-is-invalid {
  font-size: 0.9rem;
  color: red;
}

.container {
  grid-template-columns: 1fr;
}

@media (max-width: 90em) {
  .content-layout-1 {
    width: 60rem;
  }
}
