.content-layout-1 {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  width: 35%;
  padding: 2rem 5rem 2rem 5rem;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.17);
  row-gap: 2rem;
  margin: 0 auto;
  max-height: 50vh;
  margin-bottom: 5rem;
}

.content-layout-form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;

  width: 90%;

  row-gap: 5rem;
}

.content-layout-form div {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
}

.form-input__label {
  width: 25rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.5rem;
}

.input-is-invalid {
  font-size: 0.9rem;
  color: red;
}

.container {
  grid-template-columns: 1fr;
}
