.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color-1);

  height: 5rem;
  padding: 0 5rem 0 5rem;

  font-size: 1.6rem;
  color: white;
}
