.search-item {
  display: flex;
  height: 10rem;
  padding: 1rem;
  color: black;
  font-size: 1.8rem;
  align-items: center;
  column-gap: 2rem;
}

.search-item:hover {
  background-color: #c6dae1;
}

.item-img {
  border-radius: 1rem;
  object-fit: cover;
  width: 10rem;
  height: 8rem;
}
