.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.6rem;
  color: black;
  row-gap: 1rem;
}

.nav-links a {
  color: black !important;
  padding: 0.5rem;
  border-radius: 6px;
}

.nav-links li {
  padding: 1rem 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-links a:hover,
.nav-links a:active {
  color: rgb(0, 0, 0);
  background: #06466359;
}

.nav-links a {
  text-decoration: none;
  list-style: none;
  color: black;
}
