.detail__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 5rem;
  width: 60%;
}

.detail-layout-1 {
  position: relative;
  display: flex;
  width: 92vw;
  column-gap: 3rem;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.img {
  width: 45%;
  border-radius: 1rem;
  object-fit: cover;
}

.reviews-layout-1 {
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  width: 70%;

  font-size: 1.6rem;
}

.container__images-slider {
  display: flex;
  width: 100%;
}

.size-image {
  width: 275px;
  border-radius: 1rem;
  object-fit: cover;
  animation: slide-in 0.1s ease-in;
}

.container {
  grid-template-columns: 1fr;
}

@media (max-width: 50em) {
  .detail-layout-1 {
    flex-direction: column;
    row-gap: 5rem;
    width: 90vw;
  }

  .detail__container {
    width: 100%;
  }

  .reviews-layout-1 {
    width: 100%;
  }
}

@media (max-width: 43.75em) {
  .detail-layout-1 {
    width: 100%;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  60% {
    opacity: 0;
    transform: translateX(-10%);
  }
  80% {
    opacity: 0.5;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
